{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   
    
    <title>Consecionario Toyota</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'car_list' %}" class="btn" disabled data-bs-toggle="button" >Ver lista de autos</a>
            <a href="{% url 'ficha_models' %}" class="btn" disabled data-bs-toggle="button" >Ver ficha tecnica</a>
        </nav>
        <hr>
    </header>
    <main class="content">
        <section>
            <h2>Descubre todos nuestros modelos</h2>
        </section>
        <section class="container">
            {% block content %}{% endblock %}
        </section>
    </main>
</body>
